.p-access__description {
  color: #fff;
  line-height: 2rem;
  font-size: 1.4rem;
  line-height: calc(33 / 14);
  font-family: "M+ 1p";
  font-weight: 500;
}

///////////////////////////

.p-access {
  &__map {
    background-image: url(../images/map_mobile@2x.png);
    background-size: contain;
    width: 100%;
  }
  &-text__inner {
    min-height: 690px;
    padding: 4rem;
    background: linear-gradient(
      180deg, 
      rgba($color: #000000, $alpha: 0.6) 0%, 
      rgba($color: #000000, $alpha: 0.6) 60%, 
      rgba($color: #000000, $alpha: 0.3) 60%, 
      rgba($color: #000000, $alpha: 0.3) 100%);
    // background-color: rgba($color: #000000, $alpha: 0.6);
  }
}