<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>BugerRaise</title>
    <link rel="shortcut icon" href="./assets/images/tmfav08902b.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <link rel="stylesheet" href="./assets/css/foundation/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body class="body js-menu">
    <div class="l-global-container js-menu">
      <div class="l-container">
        <div class="l-container__left">
          <div class="l-main__container">
            
            <header class="l-header">
              <button id="js-menu_open" class="p-header__menu-btn  p-menu">Menu</button></p>
              <div class="p-header__wrapper">
                <div class="p-header__outer">
                  <h1 class="p-header__title">Hamburger</h1>
                  <div class="p-header__form">
                    <form action="#">
                      <label for="search">
                        <div class="p-search__wrapper">
                          <div class="p-search__field-wrapper mr">
                            <span class="c-icon-btn c-beforeicon-btn--download"></span><input class="p-search-field" type="search" name="search">
                        </div>
                      </label>
                      <input class="c-search-btn" type="submit" name="submit" value="検索">
                    </form>
                  </div>
                </div>
              </div>
            </header>

            <main>

              <section class="p-mainvisual">
                <div class="p-mainvisual__wrapper">
                  <div class="p-mainvisual__layer--cheese">
                    <h2 class="p-mainvisual__title c-title-text">Menu:</h2>
                    <p class="p-mainvisual__sub-title">チーズバーガー</p>
                  </div>
                </div>
              </section>

              <div class="c-section__container">
                <article class="p-article">
                  <h2 class="p-article__title">当店の人気シリーズ</h2>
                  <p class="p-article__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium dolores minima distinctio expedita aut quos quaerat labore ea, asperiores et, alias mollitia? Ad, quibusdam porro neque tenetur culpa dignissimos? Deserunt.
                  </p>
                </article>
  
                <section class="p-order">
                  <ul class="p-order__items">
                    <li class="p-order__item">
                      <div class="p-card">
                        <figure class="p-card__img-wrapper">
                          <img src="./assets/images/mobile_cheese_window@2x.jpg"  class="p-card__img alt="">
                        </figure>
                        <div class="p-card__body">
                          <h3 class="p-card__title">チーズバーガー</h3>
                          <h4 class="p-card__sub-title">当店売上げ No.1</h4>
                          <p class="p-card__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum deleniti, alias numquam quidem deserunt recusandae tempora magni amet!
                          </p>
                          <div class="p-card__btn-area">
                            <div class="c-round-btn">
                              <a href="#" alt="">詳しく見る</a>
                            </div>
                          </div>
                        </div><!-- "p-card"__body-->
                      </div><!-- "p-card"-->
                    </li>
                    <li class="p-order__item">
                      <div class="p-card">
                        <figure class="p-card__img-wrapper">
                          <img src="./assets/images/mobile_cheese_window@2x.jpg"  class="p-card__img alt="">
                        </figure>
                        <div class="p-card__body">
                          <h3 class="p-card__title">チーズバーガー</h3>
                          <h4 class="p-card__sub-title">当店売上げNo.1</h4>
                          <p class="p-card__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum deleniti, alias numquam quidem deserunt recusandae tempora magni amet!
                          </p>
                          <div class="p-card__btn-area">
                            <div class="c-round-btn">
                              <a href="#" alt="">詳しく見る</a>
                            </div>
                          </div>
                        </div><!-- "p-card"__body-->
                      </div><!-- "p-card"-->
                    </li>
                    <li class="p-order__item">
                      <div class="p-card">
                        <figure class="p-card__img-wrapper">
                          <img src="./assets/images/mobile_cheese_window@2x.jpg"  class="p-card__img alt="">
                        </figure>
                        <div class="p-card__body">
                          <h3 class="p-card__title">チーズバーガー</h3>
                          <h4 class="p-card__sub-title">当店売上げNo.1</h4>
                          <p class="p-card__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum deleniti, alias numquam quidem deserunt recusandae tempora magni amet!
                          </p>
                          <div class="p-card__btn-area">
                            <div class="c-round-btn">
                              <a href="#" alt="">詳しく見る</a>
                            </div>
                          </div>
                        </div><!-- "p-card"__body-->
                      </div><!-- "p-card"-->
                    </li>
                    <li class="p-order__item">
                      <div class="p-card">
                        <figure class="p-card__img-wrapper">
                          <img src="./assets/images/mobile_cheese_window@2x.jpg"  class="p-card__img alt="">
                        </figure>
                        <div class="p-card__body">
                          <h3 class="p-card__title">チーズバーガー</h3>
                          <h4 class="p-card__sub-title">当店売上げNo.1</h4>
                          <p class="p-card__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum deleniti, alias numquam quidem deserunt recusandae tempora magni amet!
                          </p>
                          <div class="p-card__btn-area">
                            <div class="c-round-btn">
                              <a href="#" alt="">詳しく見る</a>
                            </div>
                          </div>
                        </div><!-- "p-card"__body-->
                      </div><!-- "p-card"-->
                    </li>
                    <li class="p-order__item">
                      <div class="p-card">
                        <figure class="p-card__img-wrapper">
                          <img src="./assets/images/mobile_cheese_window@2x.jpg"  class="p-card__img alt="">
                        </figure>
                        <div class="p-card__body">
                          <h3 class="p-card__title">チーズバーガー</h3>
                          <h4 class="p-card__sub-title">当店売上げNo.1</h4>
                          <p class="p-card__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum earum deleniti, alias numquam quidem deserunt recusandae tempora magni amet!
                          </p>
                          <div class="p-card__btn-area">
                            <div class="c-round-btn">
                              <a href="#" alt="">詳しく見る</a>
                            </div>
                          </div>
                        </div><!-- "p-card"__body-->
                      </div><!-- "p-card"-->
                    </li>
                  </ul>
                </section>
                <section class="p-page-nation">
                  <div class="p-page-nation__wapper--mobile">
                    <a href="#">
                      <span class="p-page-nation__text--pre">prev</span>
                    </a>
                    <a href="#" class="p-page-nation__text--next">next</a>
                  </div>
                  <div class="p-page-nation__wapper--pc">
                    <ul class="p-page-nation__items">
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">1</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">2</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">3</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">4</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">5</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">6</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">7</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">8</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">9</a>
                      </li>
                      <li class="p-page-nation__item">
                        <a class="p-page-nation__link" href="#">10</a>
                      </li>
                    </ul>
                  </div>
                </section>
              </div><!--c-section__container-->
            </main>

          </div><!--l-main__container-->
        </div> <!-- l-container__left  -->
        
        <div class="l-container__right p-sidebar js-menu">
          <button id="MenuBtn" class="p-sidebar__btn-close"><span class="c-close-btn"></span></button>
          <div id="foodMenu">
            <ul class="p-sidebar__menu">
              <li v-for="item in foodItems" :key="item.sn">
                <h3 class="p-sidebar__mainmenu-item">{{ item.category }}</h3>
                <ul class="p-sidebar__submenu-items">
                  <li v-for="subitem in item.names" class="p-sidebar__submenu-item">
                    <a href="#">{{ subitem }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--#foodMenu-->
        </div><!-- l-container__right -->
      </div><!-- l-container -->
        
      <footer class="l-footer">
        <div class="p-footer__layer">
          <div class="p-footer__info-wrapper">
            <div class="p-footer__info">ショップ情報 | ヒストリー</div>
            <div class="p-copyright">Copyright: RaiseTech</div>
          </div>
        </div>
      </footer>
    </div>
    <!-- l-gloval-container -->
    <script src="./assets/js/menu_open.js"></script>
    <script src="./assets/js/food_menu.js"></script>

</html>
