<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>BugerRaise</title>
    <link rel="shortcut icon" href="./assets/images/tmfav08902b.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <link rel="stylesheet" href="./assets/css/foundation/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body class="body js-menu">
    <div class="l-global-container js-menu">
      <div class="l-container">
        <div class="l-container__left">
          <div class="l-main__container">
            
            <header class="l-header">
              <button id="js-menu_open" class="p-header__menu-btn  p-menu">Menu</button></p>
              <div class="p-header__wrapper">
                <div class="p-header__outer">
                  <h1 class="p-header__title">Hamburger</h1>
                  <div class="p-header__form">
                    <form action="#">
                      <label for="search">
                        <div class="p-search__wrapper">
                          <div class="p-search__field-wrapper mr">
                            <span class="c-icon-btn c-beforeicon-btn--download"></span><input class="p-search-field" type="search" name="search">
                        </div>
                      </label>
                      <input class="c-search-btn" type="submit" name="submit" value="検索">
                    </form>
                  </div>
                </div>
              </div>
            </header>

            <main>

              <section class="p-mainvisual">
                <div class="p-mainvisual__wrapper">
                  <div class="p-mainvisual__layer">
                    <h2 class="p-mainvisual__title c-title-text">Raise Burger</h2>
                  </div>
                </div>
              </section>

              <section class="p-branch c-section__container">
                <ul class="p-branch__wrapper">
                  <li class="p-branch__item u-overLayer__parent">
                    <a href="#">
                      <div class="p-branch__for-hover">
                        <img class="p-branch__img" src="./assets/images/takeout.jpg"/>
                        <div class="p-branch__layer u-overLayer__child u-center--column-sb">
                          <h2 class="p-branch__item__title p-text-bar">Take Out</h2>
                          <ul class="p-branch__boxs">
                            <li class="p-branch__textBox">
                              <h3 class="c-textBox__title p-branch__title">Take OUT</h3>
                              <p class="c-textBox__description">当店のテイクアウトで利用できる商品を掲載しています。</p>
                            </li>
                            <li class="p-branch__textBox">
                              <h3 class="c-textBox__title p-branch__title">Take OUT</h3>
                              <p class="c-textBox__description">当店のテイクアウトで利用できる商品を掲載しています。</p>
                            </li>
                          </ul>
                        </div>                 
                      </div>
                    </a>
                  </li>

                  <li class="p-branch__item u-overLayer__parent">
                    <a href="#">
                      <div class="p-branch__for-hover">
                        <img class="p-branch__img" src="./assets/images/eatin@2x.jpg"/>
                        <div class="p-branch__layer u-overLayer__child u-center--column-sb">
                          <h2 class="p-branch__item__title p-text-bar">Eat In</h2>
                          <ul class="p-branch__boxs">
                            <li class="p-branch__textBox">
                              <h3 class="c-textBox__title p-branch__title">Take OUT</h3>
                              <p class="c-textBox__description">当店のテイクアウトで利用できる商品を掲載しています。</p>
                            </li>
                            <li class="p-branch__textBox">
                              <h3 class="c-textBox__title p-branch__title">Take OUT</h3>
                              <p class="c-textBox__description">当店のテイクアウトで利用できる商品を掲載しています。</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </section>
            <section class="p-access">
              <div class="p-access__map">
                <div class="p-access-text__inner">
                  <h2 class="p-access__title u-mb--m"><span class="p-text-bar--long u-mb--m">アクセス</span></h2>
                  <p class="p-access__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel ex, molestias provident enim dignissimos unde minus ab suscipit minima at ea repudiandae atque ut earum tempore architecto odit quaerat ipsa.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel ex, molestias provident enim dignissimos unde minus ab suscipit minima at ea repudiandae atque ut earum tempore architecto odit quaerat Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel ex, molestias provident enim dignissimos unde minus ab suscipit.
                  </p>
                </div>
              </div>
            </section>

            </main>
            <!-- l-container__left  -->

          </div>
        </div>
        
        <div class="l-container__right p-sidebar js-menu">
          <button id="MenuBtn" class="p-sidebar__btn-close"><span class="c-close-btn"></span></button>
          <div id="foodMenu">
            <ul class="p-sidebar__menu">
              <li v-for="item in foodItems" :key="item.sn">
                <h3 class="p-sidebar__mainmenu-item">{{ item.category }}</h3>
                <ul class="p-sidebar__submenu-items">
                  <li v-for="subitem in item.names" class="p-sidebar__submenu-item">
                    <a href="#">{{ subitem }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--#foodMenu-->
        </div><!-- l-container__right -->
      </div><!-- l-container -->
        
      <footer class="l-footer">
        <div class="p-footer__layer">
          <div class="p-footer__info-wrapper">
            <div class="p-footer__info">ショップ情報 | ヒストリー</div>
            <div class="p-copyright">Copyright: RaiseTech</div>
          </div>
        </div>
      </footer>
    </div>
    <!-- l-gloval-container -->
    <script src="./assets/js/menu_open.js"></script>
    <script src="./assets/js/food_menu.js"></script>
  </body>
</html>