.c-textBox {
  &__title {
    // letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;
}
  &__description {
    // letter-spacing: 0.05em;
    line-height: 1.7;
    // font-weight: bold;
    font-size: 1.6rem;
  }
}
