.l-global-container {
  min-width: 355px;
  max-width: 1920px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  &.js-is_open{
    &::after {
      content: '';
      position: absolute;
      top: 0%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: .6);
    }
  }
}
.l-container {
  display: block;
}

.l-container__left {
  flex: 81;
}


.l-container__right {
  min-width: 267px;
  // $width: 15%;
  // display: block;
  // position: absolute;
  // top: 0;
  // left: 100% + $width;
  // height: 100%;
  // width: 100%;
  // z-index: 100;
  // transition: left .3s;
  // &.js-is_open {
  //   left: $width;
  // }
}

.c-section__container {
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 1434px;
  @include mq(){
    padding-left: 40px;
    padding-right: 40px;
  }
}